.footer {
    margin-top: 50px;
    background: #000;
    color: #fff;
}

.footer h1 {
    font-size: 15px;
    margin: 25px 0;
}

.footer p {
    font-size: 12px;

}

.copy-right {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}

.footer hr {
    margin-top: 10px;
    background-color: #ccc;
}

.footer .fa-heart-o {
    color: red;
    font-size: 15px;
}

.footer.footer-img {
    width: 150px;
    height: 100px;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
    color: orange;
}