* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f3f4;
    font-family: sans-serif;
}

.top-navbar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 2;
}

.logo {
    height: 40px;
    margin: 5px 10px;
    font-weight: 10000 !important;
    color: orange !important;
}

.form-control {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

.input-group-text {
    background: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;

}

.search-box {
    display: inline-flex;
    width: 60%;
}

.fa-search {
    color: #fff;

}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
    list-style: none;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;


}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none !important;
}

.fa-shopping-basket {
    margin-right: 5px;
}

@media only screen and (max-width:980px) {
    .top-navbar {
        height: 118px;
        border-bottom: 0px;
    }

    .search-box {
        width: 100%;
    }

    .menu-bar {
        width: 100%;
    }

    .menu-bar ul {
        margin: 10px 0px;
        width: 100%;
    }

    .menu-bar ul li {
        height: 57px;
        width: 100%;
    }


}