.product-top-4 img {
    width: 100%;


}

.over-lay-right-4 {
    display: block;
    opacity: 0;
    position: absolute;
    margin-left: 0;
    top: 151%;
    width: 70px;
}



.over-lay-right-4 .fa {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.over-lay-right-4 .btn-secondary-4 {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.product-top-4:hover .over-lay-right-4 {
    opacity: 1;
    margin-left: 2%;
    transition: 0.5s;
}

.product-bottom-4 .fa {
    color: orange;
    font-size: 10px;
}

.product-bottom-4 h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-bottom-4 h5 {
    font-size: 15px;
    padding-bottom: 10px;
}