.single-product {
    margin-top: 70px;
}

.new-arrival {
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-7 h2 {
    color: #555;
}

.single-product .fa {
    color: orange;
}

.single-product .price {
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;

}

.single-product input {
    border: 1px solid #cccccc;
    height: 33px;
    text-align: center;
    width: 30px;
}

.single-product .btn-primary {
    background: orange !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}

.product-discription h6 {
    margin-top: 50px;
    color: orange;
}

.product-discription p {
    margin-top: 30px;

}

.product-discription hr {
    margin-bottom: 50px;
}